.multi{
#margin-left:700px;
#margin-top:-700px;
width:666px;
height:1000px;
}
.table {
border-radius: 69px;
padding: 2px; 
width:700px; 
height:150px; 
border:5px solid; 
font-size:27px;
font-weight:bold;
margin-left:3px;
}
button {
border-radius: 11px;
margin-top:7px;
margin-left:11px;
border-width:11px;
}
th {
text-align: center;
}
h2{
font-size:25px;
}
h4 {
padding:23px;
line-height:36px;
font-size:18px;
}

.nowplaying{
border:3px solid green; 
margin:5px;
padding:3px;
border-radius:11px;
width:670px;
height:120px;
}

.flacstream{
margin-left:5px;
margin-right:5px;
border:5px solid;
border-width:5px;
border-radius:23px;
width:170px;
height:150px;
text-align:center;
vertical-align:middle;
line-height:10px;
padding:3px;
font-size:18px;
}
a {
text-decoration: none; !important
}
.stopbutton{
margin-right:25px;
height:150px;
width:200px;
}
